openapi: 3.0.3
info:
  title: PayEvo Gateway API
  description: |
    REST API for integration with the PayEvo payment gateway.

    ---
    
    The API was designed based on REST architecture, ensuring that all responses are returned in JSON format.
    
    To access the API resources, you must authenticate using the **Basic Authentication** method, providing your secret key as a credential.
    
    Your authentication keys can be found in the control panel by navigating to **Settings → API Credentials**.

    After obtaining your key, include it in the request header in the Authorization field, according to the structure shown below:
    
    ## Postbacks

    When registering a transaction, you can define a specific URL to receive notifications whenever there are updates to the transaction status. To do this, use the `postbackUrl` field when creating the transaction. The data sent to this URL will follow the `Postback` schema format.

  version: 2.1.0

servers:
  - url: http://apiv2.payevo.com.br/functions/v1
    description: Servidor de produção

security:
  - basicAuth: []
  # - BearerAuth: []

tags:
  - name: PayEvo
    description: General instructions and information about the PayEvo platform
  - name: Transaction
    description: Endpoints for managing payment transactions
  - name: Customers
    description: Endpoints for managing customers
  - name: Financial
    description: Endpoints for balance inquiries and advances
  - name: Account
    description: Endpoints for account and company information
  - name: Cashout
    description: Endpoints for managing withdrawals and transfers
  - name: Webhooks
    description: Endpoints for configuring and managing webhooks

paths:
  /transactions:
    post:
      tags:
        - Transaction
      summary: Create Transaction
      description: |
        To initiate a transaction, use the /transactions route. This endpoint supports payments via credit card, boleto, and PIX.
      operationId: criarTransacao
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CriarTransacaoRequest'
            example:
              card:
                hash: "token_do_cartao_tokenizado"
              customer:
                name: "João Silva"
                email: "joao@email.com"
                document:
                  type: "CPF"
                  number: "12345678900"
              amount: 5000
              paymentMethod: "CARD"
              installments: 1
      responses:
        '200':
          description: Transaction created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

    get:
      tags:
        - Transaction
      summary: List Transactions
      description: |
        Allows you to obtain a list of all recorded transactions, with the possibility of filtering by status and period.
      operationId: listarTransacoes
      parameters:
        - name: status
          in: query
          description: Filter by transaction status
          schema:
            type: string
            enum: [processing, authorized, paid, refunded, waiting_payment, refused, chargedback, canceled, in_protest, partially_paid]
        - name: startDate
          in: query
          description: Initial date for filtering (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          description: Final date for filtering (ISO 8601 format)
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Limit of results per page
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /transactions/{id}:
    get:
      tags:
        - Transaction
      summary: Search Transaction 
      description: |
        Allows you to retrieve information about a specific transaction by entering its ID.
      operationId: buscarTransacao
      parameters:
        - name: id
          in: path
          required: true
          description: Transaction ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Transaction data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          description: Transaction not found

    post:
      tags:
        - Transaction
      summary: Refund Transaction
      description: |
        Allows you to request a refund for a transaction that has already been processed.
      operationId: estornarTransacao
      parameters:
        - name: id
          in: path
          required: true
          description: Transaction ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: |
                    Amount to be refunded in cents (optional; if not specified, the total amount will be refunded)
      responses:
        '200':
          description: Refund requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '400':
          description: Invalid request
        '404':
          description: Transaction not found

    put:
      tags:
        - Transaction
      summary: Change Delivery Status
      description: |
        Allows you to change the delivery status of a specific transaction.
      operationId: alterarStatusEntrega
      parameters:
        - name: id
          in: path
          required: true
          description: Transaction ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deliveryStatus
              properties:
                deliveryStatus:
                  type: string
                  description: New delivery status
      responses:
        '200':
          description: Delivery status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'

  /customers:
    post:
      tags:
        - Customers
      summary: Create Customer
      description: |
        The /customers endpoint allows you to register a new customer on the platform.
      operationId: criarCliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Costumer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: Invalid request

    get:
      tags:
        - Customers
      summary: List Customers
      description: |
        Allows you to obtain a list of customers registered on the platform, with support for filters to facilitate searching.
      operationId: listarClientes
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Limit of results per page
          schema:
            type: integer
            default: 20
        - name: search
          in: query
          description: Search by name, email, or document
          schema:
            type: string
      responses:
        '200':
          description: Costumers list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /customers/{id}:
    get:
      tags:
        - Customers
      summary: Seach Customer
      description: |
        Allows you to retrieve information about a specific customer registered on the platform.
      operationId: buscarCliente
      parameters:
        - name: id
          in: path
          required: true
          description: Costumer ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Costumer data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Costumer not found

    put:
      tags:
        - Customers
      summary: Update Customer
      description: |
        The endpoint /customers/{id} allows you to update the information of an already registered customer.
      operationId: atualizarCliente
      parameters:
        - name: id
          in: path
          required: true
          description: Costumer ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Costumer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Costumer not found

  /balance:
    get:
      tags:
        - Financial
      summary: Check Balance and Reserves
      description: |
        To check your available balance, use the `/balance` route.
      operationId: consultarSaldo
      responses:
        '200':
          description: Balance and reserves data
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: integer
                    description: Available balance in cents
                  reserved:
                    type: integer
                    description: Amount reserved in cents
                  total:
                    type: integer
                    description: Total balance in cents
        '400':
          description: Invalid request
  
  /company:
    get:
      tags:
        - Account
      summary: Company Data
      description: |
        The /company endpoint allows you to obtain general information about the company registered on the platform.
      operationId: dadosEmpresa
      responses:
        '200':
          description: Company data
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  document:
                    type: string
                  email:
                    type: string
                  phone:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
        '400':
          description: Invalid request

  /cashout:
    post:
      tags:
        - Cashout
      summary: Request Withdrawal
      description: |
        Withdraw the available balance to a Pix key.

        The **x-api-key** required for authentication can be found in the Gateway, under Integrations → API Key.
      operationId: solicitarSaque
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SolicitarSaque'
            example:
              requestedamount: 2000
              pixkey: "11911111111"
              type: "PHONE"
              description: "Saque Cashout"
      responses:
        '200':
          description: Withdrawal successfully
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

components:
  securitySchemes:
    basicAuth:
        type: http
        scheme: basic
        description: |
          Authentication using Basic Authentication.
          Use your SECRET_KEY as the username and “x” as the password, or encode it in the format “SECRET_KEY:x” in base64.
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Authentication token provided in the Gateway, located in Integrations → API Key.

    # BearerAuth:
    #   type: http
    #   scheme: bearer
    #   bearerFormat: JWT
    #   description: |
    #     Autenticação usando Bearer Authentication.
    #     Para acessar os recursos da API, é necessário autenticar-se utilizando o método **Basic Authentication**, fornecendo sua chave secreta como credencial.

  schemas:
    Postback:
      type: object
      description: |
        When registering a transaction, you can define a specific URL to receive notifications whenever there are updates to the transaction status. To do this, use the `postbackUrl` field. The data sent to this URL will follow the format shown below.
      properties:
        id:
          type: string
          description: Postback event ID
        type:
          type: string
          enum: [transaction]
          description: Event type
        objectId:
          type: string
          format: uuid
          description: Related object ID (transaction)
        data:
          $ref: '#/components/schemas/Transaction'

    Transaction:
      type: object
      description: |
        When you create a transaction, this is the object you receive in response. 
        You will also receive this object when a transaction status update occurs in your postbackUrl.
      properties:
        id:
          type: string
          format: uuid
          description: Transaction ID
        status:
          type: string
          enum: [processing, authorized, paid, refunded, waiting_payment, refused, chargedback, canceled, in_protest, partially_paid]
          description: Transaction status
        amount:
          type: string
          description: |
            Transaction amount in cents. Example: R$ 5,00 = 500
        paidAmount:
          type: integer
          description: Amount paid in cents
        refundedAmount:
          type: integer
          description: Amount refunded in cents
        paymentMethod:
          type: string
          enum: [CARD, PIX, BOLETO]
          description: Payment method used in the transaction
        installments:
          type: integer
          description: Number of installments for the transaction
        customer:
          $ref: '#/components/schemas/Customer'
        shipping:
          $ref: '#/components/schemas/Shipping'
        card:
          $ref: '#/components/schemas/Card'
        pix:
          $ref: '#/components/schemas/Pix'
        boleto:
          $ref: '#/components/schemas/Boleto'
        companyId:
          type: string
          format: uuid
          description: ID of the company that created the transaction
        postbackUrl:
          type: string
          format: uri
          description: Postback URL that will receive transaction status updates
          x-nullable: true
        metadata:
          type: object
          additionalProperties: true
          description: Object with additional data provided when creating the transaction
        createdAt:
          type: string
          format: date-time
          description: Date and time when the transaction was created
        updatedAt:
          type: string
          format: date-time
          description: Date and time when the transaction was last updated
        ip:
          type: string
          description: |
            Source IP that created the transaction, which may be directly from your client, 
            if the request comes directly from the client-side, or from your servers, 
            if everything is centralized in your server-side application.
        refusedReason:
          $ref: '#/components/schemas/RefusedReason'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
          description: Data on purchased products
        splits:
          type: array
          items:
            $ref: '#/components/schemas/Split'
          description: Transaction split rules
        paidAt:
          type: string
          format: date-time
          x-nullable: true
        fee:
          $ref: '#/components/schemas/Fee'
        description:
          type: string
          description: Transaction description

    CriarTransacaoRequest:
      type: object
      required:
        - customer
        - amount
        - paymentMethod
      properties:
        customer:
          $ref: '#/components/schemas/Customer'
        amount:
          type: integer
          description: Amount of the transaction in cents
        paymentMethod:
          type: string
          enum: [CARD, PIX, BOLETO]
          description: Payment method
        installments:
          type: integer
          description: Number of installments (applicable only for CARD payment method)
          default: 1
        card:
          type: object
          properties:
            hash:
              type: string
              description: Tokenized card token (obtained via Shark Banking SDK)
        description:
          type: string
          description: Transaction description
        postbackUrl:
          type: string
          format: uri
          description: URL to receive status change notifications
        metadata:
          type: object
          additionalProperties: true
          description: Additional data in JSON format
        shipping:
          $ref: '#/components/schemas/Shipping'
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'

    Customer:
      type: object
      required:
        - name
        - email
        - document
      properties:
        id:
          type: string
          format: uuid
          description: Costumer ID
        name:
          type: string
          description: Full name of the customer
        email:
          type: string
          format: email
          description: Customer's email address
        phone:
          type: string
          description: Customer's phone number (only numbers, including area code)
        document:
          type: object
          required:
            - type
            - number
          properties:
            type:
              type: string
              enum: [CPF, CNPJ]
              description: Type of document
            number:
              type: string
              description: Document number (only numbers, without punctuation)
        createdAt:
          type: string
          format: date-time
          description: Date and time when the customer was created

    Shipping:
      type: object
      properties:
        street:
          type: string
          description: Street name
        streetNumber:
          type: string
          description: Address number
        complement:
          type: string
          description: Address complement
        neighborhood:
          type: string
          description: Neighborhood
        city:
          type: string
          description: City
        state:
          type: string
          description: State (UF)
        zipCode:
          type: string
          description: CEP (only numbers)
        country:
          type: string
          default: BR
          description: Country

    Card:
      type: object
      properties:
        id:
          type: string
          format: uuid
        last4:
          type: string
          description: Last 4 digits of the card number
        brand:
          type: string
          description: Card brand (e.g., Visa, MasterCard)
        holderName:
          type: string
          description: Name of the cardholder

    Pix:
      type: object
      properties:
        qrcode:
          type: string
          format: uri
          description: URL of the QR code image for PIX payment
        expirationDate:
          type: string
          format: date-time
          description: Expiration date and time for the PIX payment
        end2EndId:
          type: string
          description: End-to-end ID of the PIX transaction
          x-nullable: true
        receiptUrl:
          type: string
          format: uri
          description: URL to view the PIX receipt
          x-nullable: true

    Boleto:
      type: object
      properties:
        barcode:
          type: string
          description: Bar code on the boleto
        ourNumber:
          type: string
          description: Our number of the boleto
        expirationDate:
          type: string
          format: date
          description: Expiration date of the boleto
        pdfUrl:
          type: string
          format: uri
          description: URL to download the boleto in PDF format

    RefusedReason:
      type: object
      description: |
        When a credit card transaction is declined, 
        this field will be filled in with the reason for the decline.
      properties:
        code:
          type: string
          description: Code representing the reason for the decline
        message:
          type: string
          description: Detailed message explaining the reason for the decline

    Item:
      type: object
      properties:
        title:
          type: string
          description: Title or name of the product
        unitPrice:
          type: integer
          description: Unit price of the product in cents
        quantity:
          type: integer
          description: Quantity of the product purchased
        externalRef:
          type: string
          description: External reference for the product

    Split:
      type: object
      description: Transaction splitting rule
      properties:
        recipientId:
          type: string
          format: uuid
          description: Recipient ID
        percentage:
          type: number
          format: float
          description: Percentage of the transaction amount to be allocated to the recipient
        netAmount:
          type: integer
          description: Net amount in cents
      example:
        recipientId: "909c81fe-0511-442c-b2a8-ca06b0fd8042"
        percentage: 100
        netAmount: 200

    Fee:
      type: object
      properties:
        fixedAmount:
          type: integer
          description: Fixed fee in cents
        spreadPercentage:
          type: number
          format: float
          description: Spread percentage
        estimatedFee:
          type: integer
          description: Estimated fee in cents
        netAmount:
          type: integer
          description: Net amount after fees in cents

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Atual page number
        limit:
          type: integer
          description: Number of records per page
        total:
          type: integer
          description: Total number of records
        totalPages:
          type: integer
          description: Total number of pages

    SolicitarSaque:
      type: object
      required:
        - requestedamount
        - pixkey
        - type
      properties:
        requestedamount:
          type: integer
          description: Amount to be withdrawn in cents
        pixkey:
          type: string
          description: Pix key to which the amount will be withdrawn
        type:
          type: string
          enum: [CPF, CNPJ, PHONE, EMAIL, EVP]
        description:
          type: string
          description: Description of the withdrawal request
